
input, textarea{
    border-radius: 0.8rem;
    padding: 1rem;
    border: none;
}

input:focus, textarea:focus{
    border-color: #c561ff;
    outline: 2px solid rgb(34, 140, 167);
    filter: drop-shadow(5px 3px #c561ff);
}

input:hover, textarea:hover{
    outline: 2px solid rgb(241, 195, 40);
}
.input-error{
    font-style: italic;
    color: rgb(255, 3, 3);
}

label{
    font-weight: bold;
    color: rgb(36, 40, 119);
}

.task-memo{
    width: 100%;
    padding: 2rem;
}


select{
    border-radius: 0.8rem;
    padding: 0.2rem;
    border: none;
    width: fit-content;
}

.submit-button{
    margin-top: 0.5rem;
}

