
input, textarea{
    border-radius: 0.8rem;
    border: none;
    padding: 1rem;
}

.dark input, .dark textarea{
    background-color: #444343;
    color: white;
}

.input-error{
    color: rgb(255, 3, 3);
    font-style: italic;
}
input:user-invalid, textarea:user-invalid, select:user-invalid{
  background-color: rgb(247, 168, 168);
  outline: 2px solid red;
}


label{
    color: rgb(37, 37, 43);
    font-weight: bold;
}
.dark label{
    color:rgb(255, 230, 176);
}

.task-memo{
    padding: 2rem;
    width: 100%;
}


select{
    border-radius: 0.8rem;
    border: none;
    padding: 0.2rem;
    width: fit-content;
}

.submit-button{
    margin-top: 0.5rem;
}

