.priority-filter{
    margin-left: 0.5vw;
}

.priority-filter, .status-filter{
    padding: 1rem;
}

.task-filter-result-notification{
    padding: 0.25rem 1rem;
    font-weight: bold;
    border-radius: 1rem;
    font-size: 1rem;
}

.dark .task-filter-result-notification{
    color: #1f1b1a;
}

.filter-selects{
    margin-top: 1vw;
}

@media(max-width: 560px){
    
.task-filter-result-notification{
    font-size: 0.7rem;
}
.priority-filter{
    margin-left: 3vw;
}

.priority-filter, .status-filter{
    margin-top: 3vw;
    padding: 0.5rem;
}
}