.task-title{
    color: rgb(37, 37, 43);
    padding: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
}

.priority-select{
    margin-left: 0.5vw;
}

.task-item{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin-bottom: 1vw;
    width: max-content;
}

.dark .task-item{
    background-color: #444343;
    color: white;
}

.memo{
    width: 100%;
}
@media(max-width: 550px){
    .task-item{
        margin-bottom: 5vw;
    }
}