.task-title{
    color: rgb(36, 40, 119);
    padding: 0.5rem;
}

select{
    background-color: rgb(134, 176, 230);

}
.priority-select{
    margin-left: 0.5vw;
}

.task-item{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    padding: 1rem 1rem;
    margin-bottom: 1vw;
    width: max-content;
}

.memo{
    width: 100%;
}
@media(max-width: 550px){
    .task-item{
        margin-bottom: 5vw;
    }
}