
li{
    list-style: none;
}

select{
    border-radius: 0.8rem;
    padding: 0.2rem;
    border: none;
}

.task-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 2.5rem 0 0;
}

.task-list{
    text-align: center;
}